apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: certbot-webroot-pvc
  namespace: microservices
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
  storageClassName: standard-rwo 