apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ssl-certificates-pvc
  namespace: microservices
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard-rwo 